<html>

<head>
    <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
    <!-- Look-at component for navmarker text so it can always look at the camera-->
    <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
</head>

<body>
    <a-scene>
        <a-assets id="network_assets"></a-assets>

        <a-entity id="camera" camera look-controls>
            <a-text id="debug-text" value="Debug Text" geometry="primitive: plane; width: 2.5; height: 1;"
                material="color: black;" position="0 1.5 -6" align="right" color="white" width="4" height="4">
            </a-text>
        </a-entity>
    </a-scene>

    <script src="{{ url_for('static', filename = 'scripts/bundle.js') }}"></script>
</body>

</html>